.App {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.startButton {
    color: #7DA734;
    font-size: 36px;
    height: 100px;
    width: 200px;
    transition: background-color 0.2s, color 0.2s;
    background-color: #EEF2E6;
    border: 2px solid #9DD241;
    border-radius: 3px;
}

.startButton:hover {
    background-color: #9DD241;
    color: white;
}

.noteflow {
    color: #9DD241;
}

.startHeader {
    font-size: 64px;
}

.startSubheader {
    font-size: 22px;
}

.jumbo {
    background-color: #F7F7F7;
    padding: 50px 30px;
    border-radius: 3px;
    margin: 25px 0px;
    min-width: 900px;
}

.modal {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.shareId {
    font-size: 24px;
}

.keyInput {
    width: 108px;
}

.qpmInput {
    width: 130px;
}